/*Responsive*/

@media only screen and (min-width:1200px) and (max-width: 1500px) {
  .navbar-brand{
    width: 25%;
  }  
  .button-cover, .knobs, .layer
  {
      left: 22%;
  }
  .logo{
    margin-top: 0;
    width: 95%;
  } 
  .main-menu li a{
    font-size: 17px;
    margin:0 10px 0 0;
  }
  .hero-area {
    /* background: url(../img/bg-laptop.jpg); */
    background-position: 50% 100%;
    background-repeat: no-repeat;
  }
  .content-left{
    padding: 70px 0 80px 0;
  }
  .content-right{
    padding: 100px 0 0 0;
  }
  .hero-buttons{
    margin-top: 20px;
  }
  .btn-demo{ 
    padding: 10px 25px;
    line-height: 15px;
    }
  .btn-app-1{
    margin-left: 0;
  }
  .service-card{
    min-height: 300px;
  }
  .title-basic::before{
    margin-left: 53px;
    margin-top: -30px;
  }
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) { 
  .navbar-brand{
    width: 25%;
  }  
  .button-cover, .knobs, .layer
  {
      left: 20%;
  }
  .logo{
    margin-top: 0;
    width: 95%;
  } 
  .hero-area {
    /* background: url(../img/bg-tab.jpg); */
    background-position: 50% 100%;
    background-repeat: no-repeat;
  }
  .content-left{
    padding: 80px 0 80px 0;
  }
  .content-right{
    padding: 100px 0 20px 0;
  }
  .content-left h1{
    font-size: 40px;
    line-height: 46px;
    margin-top: 20px;
  }
  .content-left h3{
    font-size: 34px;
    margin-top: 5px;
  }
  .hero-buttons{
    margin-top: 20px;
  }
  .btn-app-1{
    margin-left: 0;
  }
  .services{
    padding: 50px 0 80px 0;
  }
  .service-card{
    min-height: 300px;
  }
  .card-lms h4{
    min-height: 50px;
  }
  .card-lms p{
    min-height: 190px;
  }
  .title-basic::before{
    margin-left: 30px;
    margin-top: -34px;
  }
  .copyright{
    position: inherit;
  }
  .affiliate{
    padding: 30px 0 0 0;
  }
  .affiliate h2{
    margin-top: 40px;
    font-size: 45px;
  }
}

/*iPad Pro Portrait only*/ 
@media only screen and (min-width: 1024px) and (orientation: portrait) {
  .main-menu li a{
    font-size: 13px;
    margin:0 20px 0 0;
  }
}

/*iPad Pro Landscape only*/  
@media only screen and (min-width: 1366px) and (orientation: landscape) {
  .main-menu li a{
    font-size: 16px;
    margin:0 5px 0 0;
  }
}

/*iPad Portrait only*/ 
@media only screen and (min-width: 768px) and (orientation: portrait) {
  
}
/*iPad Landscape only only*/
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .main-menu li a{
    font-size: 13px;
    margin:0 5px 0 0;
  }
}

/*iPad only*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .btn-start-arrow{
    margin-left: -180px;
  }
  .title-text h2{
    font-size: 32px;
    max-width: 600px;
  }
 }

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {  
.navbar-brand{
  width: 70%;
}  
.logo{
  margin-top: 0;
  width: 60%;
}  
.navbar-toggler{
  outline: none;
}
.navbar-toggler:active, .navbar-toggler:hover, .navbar-toggler:focus{
  outline: none;
}
.header-area {
  background: rgba(256, 256, 256, 1);
}
.main-menu li a{
  color: #222;
}
.main-menu li:last-child a{
  margin-top: 10px!important;
}
.btn-login{
  margin-bottom: 20px;
}
.hero-area {
  /* background: url(../img/bg-mobile.jpg); */
  background-position: 50% 100%;
  background-repeat: no-repeat;
}
.content-left{
  padding: 20px 0 80px 0;
  margin-left: 0;
}
.content-right{
  padding: 120px 0 10px 0;
}
.btn-demo{ 
  padding: 10px 26px;
}
.btn-start-arrow{
  margin-left: -50px;
}
.title-text h2{
  padding-top: 60px;
  font-size: 30px;
  max-width: 800px;
}
.feature-area{
  padding: 70px 0 70px 0;
}
.newsletter-area h3{
  text-align: center;
  }
  .newsletter-sub{
  text-align: center;
  }
.card-lms h4{
  min-height: 30px;
}
.card-lms p{
  min-height: 120px;
}
.testimonial{
  padding: 40px 0 20px 0;
}
.testimonial-wrapper{
  margin-top: 20px;
  margin-left: 20px;
}
.nesw-form input{
  max-width: 450px;
}
.copyright{
  position: inherit;
  font-size: 16px;
}
.affiliate{
  padding: 30px 0 0 0;
}
.affiliate h2{
  margin-top: 10px;
  font-size: 35px;
}
.affiliate p{
  font-size: 16px;
  line-height: 28px;
}
#wizard{
  padding: 40px 0;
}
.user_reg_require {
  margin: 13px 0 20px;
}
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {
  .navbar-brand{
    width: 55%;
  } 
  .button-cover, .knobs, .layer
  {
    top: 4px;
    left: 38%;
  }
  .logo{ 
    margin-top: -5px;
    width: 80%;
  }
  .hero-area {
    /* background: url(../img/bg-mobile.jpg); */
    background-position: 50% 100%;
    background-repeat: no-repeat;
  }
  .content-left{
    padding: 0 0 30px 0;
  }
  .content-right{
    padding: 100px 0 0 0;
  }
  .btn-demo{ 
    padding: 10px 26px;
  }
  .content-left h1{
    font-size: 28px;
    line-height: 52px;
    margin-top: 20px;
  }
  .content-left h3{
    font-size: 26px;
    margin-top: 5px;
  }
  .content-left h4{
    font-size: 23px;
    margin-top: 10px;
  }
  .hero-buttons{
    margin-top: 30px;
  }
  .btn-app-1{
    margin-left: -30px;
  }
  .title-text h2{
    font-size: 26px;
    max-width: 500px;
  }
  .title-basic::before{
    margin-left: 45px;
    margin-top: -30px;
  }
  .copyright{
    position: inherit;
    font-size: 14px;
  }
  .footer-right{
    float: left;
  }
  .btn-app-4{
    margin-top: 10px;
  }
  .inner_title {
    font-size: 36px;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { 
  .navbar-brand{
    width: 48%;
  }
  .button-cover, .knobs, .layer
  {
    left: 34%;
  }
  .logo{ 
    margin-top: -5px;
    width: 95%;
  }
  .hero-area {
    /* background: url(../img/bg-mobile.jpg); */
    background-position: 50% 100%;
    background-repeat: no-repeat;
  }
  .content-left{
    padding: 0 0 40px 0;
  }
  .content-right{
    padding: 110px 0 0 0;
  }
  .content-left h1{
    font-size: 36px;
    line-height: 52px;
  }
  .content-left h3{
    font-size: 30px;
    margin-top: 15px;
  }
  .content-left h4{
    font-size: 26px;
    margin-top: 20px;
  }
  .hero-buttons{
    margin-top: 20px;
  }
  .btn-app-1{
    margin-left: 0;
  }
  .title-text h2{
    font-size: 25px;
    max-width: 300px;
  }
  .service-card{
    padding: 28px 20px;
    min-height: 200px;
  }
  .service-card h4{
    font-size: 20px;
    margin-top: 25px;
  }
  .service-icon{
    border-radius: 25px;
    padding: 15px 10px;
    width: 100px;
    height: 100px;
  }
  .title-basic::before{
    margin-left: 90px;
    margin-top: -30px;
  }
  .footer-logo{ 
    width: 50%;
  }
  .feature-area{
    padding: 40px 0 40px 0;
  }
  .inner_title {
    font-size: 34px;
  }
}
