/* @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*@import url("responsive.css");*/

* {
    padding: 0; 
    margin: 0;
}

body {
    height: 100vh;  
    display: flex;
    flex-direction: column;  
    background: #ffffff; 
    color: #222;
    font-size: 16px;
    /* font-family: 'Arimo', sans-serif; */
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: "Roboto", Arial, Tahoma, sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior: unset;
}

.main{
  flex: 1 0 auto;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

/* @-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
} */

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}
/*
@viewport {
    width: device-width;
}
*/

a {
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #333;
}

strong{
    font-weight: 500;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    color: #333;
}

h2 {
    font-size: 26px;
    font-weight: 500;
}

p {
    line-height: 20px;
}

a {
    text-decoration: none;
    color: #333;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
    color: #222;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

hr { background-color: #ddd;}

.btn {
    white-space: normal;
    cursor: pointer;
}

.btn:focus, .btn:active {
    outline: inherit;
}

textarea:focus, input:focus {
    color: #ffffff;
    outline: none;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
  --main-color: #06C0E7;
  --main-bg-color: #D10074;
  --second-bg-color: #E9F5FF;
  --hover-bg-color: #fae820;
  --hover-color: #1d5cc5;
}

.clear-fix{
  clear: both;
}

.row-mobile{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap;
  overflow-x: auto;
}
.col-mobile{
  width: 200px!important;
  display: inline-block;
}
.price-title-width{
  width: 120px!important;
}

/********************************************/

/*--------Main Menu---------*/

.header-area {
  padding: 0;
  background: rgba(256, 256, 256, 0);
  /* border-bottom: 1px solid #ccc;  */
  position: relative;
  /* left:0;
  right: 0;
  top: 0; */
  z-index: 1000;
}

.header-area .navbar {
  padding: 0;
  z-index: 100;
}
.navbar-brand {
  padding: 15px 30px;
  margin-right: 1rem;
}
.logo{ 
  /* background-color: var(--main-bg-color)!important;  */
  width: 60%;
}

.navbar{
  border-bottom: 1px solid #ccc;
}
.main-menu{
  /* padding: 15px 0; */
}

.main-menu li{
  display: inline-block;
  border-left: 1px solid #ccc;
  padding: 10px 0;
}

.main-menu li:hover{
  background: #eee;
}

.main-menu li a{
  font-weight: 500;
  display: inline-block;
  margin:0 15px 0 15px!important;
  color: #717981;
}

.main-menu li a:hover, .main-menu li a:focus, .main-menu li a:active, .user li a:hover, .user li a:focus{
  color: #717981!important;
}

a#search_button {
  padding: 0;
  color: #666666;
}

.main-menu li:nth-child(7) a{
  padding: 8px 15px!important;
  color: #fff;
}
.main-menu li:last-child a{
  padding: 8px 15px!important;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  /* color: rgba(0,0,0,.5); */
  font-size: 20px;
}

.main-menu li:nth-child(7) a:hover{
  color: var(--hover-color)!important;
}
.main-menu li:last-child a:hover{  
  color: var(--hover-color)!important; 
}

/* .main-menu li:not(:first-child)::before{
  content: url(../img/main-menu-separetor.png);
  color: #fff;
  font-weight: 200;
  position: absolute;
  margin-top: 12px;
} */

.main-menu .dropdown-menu{
  border-radius: 0 0 4px 4px;
  border: 0;
  margin-top: 0;
  /* background: #407cbe; */
  background: #ffffff;
  border-radius: 10px;
  box-shadow: #aaa 0 3px 5px;
}

.overflow-y-scroll{
  max-height: 275px;
  overflow-x: hidden;
  overflow-y: scroll; 
}

.main-menu .dropdown-menu a{
  font-size: 16px;
  font-weight: 500;
  color: #444444;
  border-top: 1px solid #ddd;
}
.main-menu .dropdown-menu a:first-child{
  border-top: none;
}

.main-menu .dropdown-menu a:hover, .main-menu .dropdown-menu a:focus{
  background: none;
  color: #41af6c;
}

.main-menu .dropdown-item{
  padding: .5rem 1rem; 
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.btn-login{ 
  background-color: var(--main-bg-color);
  color: #fff!important;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  font-size: 15px!important;
  text-align: center;
  /* width: 80px; */
  padding: 8px 34px 8px 34px;
}

.btn-login a{ 
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #fff!important;
  border-radius: 25px;
  padding: 8px 34px 8px 34px;
}

.btn-login a:hover{ 
  background-color: var(--hover-bg-color);   
  color: var(--hover-color);
  border-radius: 25px;
}

/*---------Hero Area---------*/

.hero-area {
  margin-top: -60px;
  background: #ffffff url(../img/bg-01.jpg);
  /* background-color: var(--second-bg-color); */
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: 50% 80%;
  /* -webkit-transform: skew(0deg, 3deg);
  transform: skew(0deg, 3deg); */
  z-index: 10;
  position: relative;
}

.hero-title{
  margin-top: 65%;
  background: #de0083;
  padding: 10px 30px 8px 30px;
  bottom:-60px;
}
.hero-title h1{
  color: #fff;
  font-weight: 700;
}  
.hero-bottom{
  background: #101720;
  padding: 25px 0 20px 0;
}
.hero-bottom h2{
  color: #fff;
  font-size: 26px;
  font-weight: 700;
}

.content-left{
  padding: 230px 0 200px 0;
  /* -webkit-transform: skew(0deg, -3deg);
  transform: skew(0deg, -3deg); */
}
.content-right{
  display: flex;
  justify-content: center;
  padding: 140px 0 50px 150px;
  /* -webkit-transform: skew(0deg, -3deg);
  transform: skew(0deg, -3deg); */
}
.content-right img{
  transition: transform .2s; /* Animation */
  transform: scale(1);
}
/* .content-right img:hover{
transform: scale(1.05) rotate(2deg);
} */
.content-left h1{
  font-size: 55px;
  font-weight: 800;
  /* color: #1d5cc5; */
  color: #333;
}
  
.content-left h3{
  font-size: 42px;
  font-weight: 500;
  color: #222;
  margin-top: 5px;
}
  
.hero-buttons{
  margin-top: 50px;
}
  
.btn-demo{ 
  background-color: var(--main-bg-color); 
  color: #fff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  font-size: 22px;
  font-weight: 500;
  padding: 13px 35px 13px 35px;
  outline: none;
  /* box-shadow: 0 3px 0 #1a348d; */
}

.btn-demo:hover{ 
  background-color: var(--hover-bg-color);   
  color: var(--hover-color);
  /* box-shadow: 0 -3px 0 #f8f1a1; */
}

.title-suffix{
  position: absolute;
  margin-top: -10px;
  margin-left: -15px;
}

/* .animation-jump {
  position: relative;
  -webkit-animation: animation-jump 2s ease-in-out infinite;
  animation: animation-jump 2s ease-in-out infinite;
}   
@-webkit-keyframes animation-jump {
  0% {
      top: 0;
  }
  50% {
      top: -12px;
  }
  100% {
      top: 0;
  }
}
@keyframes animation-jump {
  0% {
      top: 0;
  }
  50% {
      top: -12px;
  }
  100% {
      top: 0;
  }
} */

/*---------Subscription Area---------*/

.subscription-wrapper{
  display: flex;
  justify-content: center;
}
.subscription-inputgroup{
  margin-top: 20px;
}
.subscription-input{
  width: 290px!important;
  /* border-radius: 50px 0 0 50px; */
  padding: 0 20px;
}
.btn-subscription{
  color: #fff;
  background-color: #de0083;
  width: 100px;
  /* border-radius: 0 50px 50px 0; */
}

/*---------Why & How---------*/

.why-area{
  /* background-color: #cbf10a;   */
  background-color: #ffffff;  
  padding: 80px 0 40px 0;
}
.why-h{
  text-align: center;
  font-size: 60px;
  color: #222222;
  /* color: var(--main-bg-color); */
  font-weight: 700;
  border-bottom: 4px solid #111111;
  margin-bottom: 20px;
}
.why-p{
  /* text-align: center; */
  font-size: 18px;
  margin-top: 20px;
  color: #111111;
  max-width: 950px;
}
.how-area{
  /* background-color: var(--main-bg-color)!important;  */
  /* background-color: #E57506;  */
  background-color: #ffffff; 
  padding: 20px 0 80px 0;
}
.how-p{
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #000000;
  max-width: 950px;
}

.bullet-area ul li{
  margin-left: 30px;
  color: #000000;
  font-size: 18px; 
  line-height: 33px;
}
.bullet-area ul li::before{
  content: url(../img/icon-bullet.png);
  font-weight: 200;
  position: absolute;
  margin-left: -30px;
  margin-top: 4px;
}

.infographic-area{
  background-color: #cbf10a; 
  padding: 90px 0 80px 0;
}

.body-text-top{
  background: #e5e5e5;
  padding: 50px 0 10px 0;
}
.body-text-bottom{
  background: #fff;
  padding: 50px 0;
}
.body-text-top h2, .body-text-bottom h2{
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}
.body-text-bottom h2{
  color: #de0083;
}

.title-bar{
  position:relative;
  background: #de0083;
  padding: 30px 0 25px 0;
  margin-bottom: 50px;
}
.title-bar:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -50px;
  margin-top: -1px;
  width: 0;
  height: 0;
  border-top: solid 50px #de0083;
  border-left: solid 50px transparent;
  border-right: solid 50px transparent;
}
.title-bar h2{
  color: #fff;
  font-size: 42px;
  line-height: 42px;
  font-weight: 700;
}
.impact-area{
  padding: 80px 0;
}
.icon_box.icon_position_left {
  min-height: 126px;
  padding-left: 145px;
}
.icon_box {
  position: relative;
  padding: 10px 0;
}
.style-simple .icon_box .image_wrapper, .style-simple .icon_box .icon_wrapper {
    padding-top: 5px;
    margin-bottom: 25px;
}
.icon_box.icon_position_left .image_wrapper {
    position: absolute;
    left: 0;
    top: 10px;
    width: 126px;
    height: 126px;
    overflow: hidden;
}
.icon_box .image_wrapper {
    text-align: center;
}
.icon_box.icon_position_left .desc_wrapper {
  text-align: left;
  padding-top: 10px;
}
img.scale-with-grid, #Content img {
  max-width: 100%;
  height: auto;
}
.icon_box.has_border:after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border-width: 0 1px 0 0;
  border-style: solid;
  position: absolute;
  right: -2.4%;
  top: 0;
}
.style-simple .icon_box:hover .desc_wrapper .title:before {
  width: 100px;
}

.style-simple .icon_box .desc_wrapper .title:before {
  content: "";
  display: block;

  margin: 0 auto;
  height: 2px;
  top: -15px;
  position: relative;

}
.style-simple .icon_box .icon_wrapper i, .style-simple .icon_box .image_wrapper img, .style-simple .icon_box .desc_wrapper .title:before {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}


/*---------Slider---------*/

.slider-holder{
  /* background: #e6e4e5; */
  padding: 60px 0 30px 0;
}
.slider-title{
  color: var(--main-color);
  font-size: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.tns-outer {
  position: relative;
}
[data-controls] {
  border: 0;
  padding: 0;
  font-size: 30px;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  z-index: 1;
  background: transparent;
}
[data-action="start"], [data-action="stop"]{
  display: none;
}
[data-controls="prev"] {
  left: 0;
  color: #ffffff;
  opacity: .5;
}
[data-controls="next"] {
  right: 0;
  color: #ffffff;
  opacity: .5;
}

.carousel-container > div {
  padding: 0;
  text-align: center;
}

.tns-nav{
  position: absolute;
  text-align: center;
  margin-top: -35px;
  margin-bottom: 15px;
  left: calc(50% - 35px);
}
.tns-nav button{
  height: 4px;
  width: 20px;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  margin: 0 2px;
}
.tns-nav .tns-nav-active{
  background-color: #1cca05;
}

.slider-container { 
  max-width: 1400px;
  padding: 0 0 0 0;
  overflow: hidden;    
  position:relative;
}

.controls {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;    
  /* background: #fff; */
  width: 100%;    
  top: 50%;
  transform: translatey(-50%);
  display: flex;
  align-items: center;    
  justify-content: space-between;       
}
.controls:focus {
  outline: none;
}

.controls li:hover {
  cursor: pointer;        
}  

.slide-wrapper{
  width: 100%;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  min-height: 120px;
  align-items: center;
}
.slide-wrapper img{
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.slide-wrapper .slider-right{
  width: 80%;
  text-align: left;
}
.slide-wrapper .slider-right h5{
  /* text-align: right; */
  font-size: 16px;
}

/*---------/Slider---------*/

.video-img-holder{
  position: relative;
}
.play-btn{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 100px;
  padding: 20px;
  left: 42%;
  right: 0;
  top: 50%;
  box-shadow: #045c92 0 0 12px;
  opacity: .5;
}
.play-btn:hover{
  cursor: pointer;
  box-shadow: #e5f50b 0 0 12px;
}
.img-video-fallback{
  margin-top: 30px;
  border-radius: 10px;
}
.img-video-fallback:hover{
  cursor: pointer;
}

/*---------Contact Area---------*/

.contact-area{
  padding: 80px 0 60px 0;
  background-color: var(--main-bg-color)!important; 
  /* background-color: #E89F30;  */
  /* background-color: #E57506;  */
  /* background-color: #50E506;  */
  /* background-color: #06E575;  */
  /* background-color: #34ad34;  */
  /* background-color: #C0E506;  */
  /* background-color: #7FB0B2;  */
  /* background-color: #57555c;  */
  /* background-color: #E57506;  */
}

.contact-title{
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font-family: "Roboto", Arial, Tahoma, sans-serif;
}

#contact {
  /* background: #FFF; */
  /* padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  color: #333;
  background: #FFF;
  margin: 0 0 5px;
  padding: 12px;
  border-radius: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 200px;
  border: none;
  border-radius: 50px;
  background-color: var(--hover-bg-color); 
  color: var(--hover-color);
  /* color: #502800; */
  margin: 0 0 5px;
  padding: 13px;
  font-size: 18px;
}

#contact button[type="submit"]:hover {
  background-color: #E57506;  
  color: #ffffff; 
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}


/*---------Footer---------*/

footer{ background: #101720; padding: 3em 0 3em 0; margin-top: 30px; }

.footer-logo{ margin-bottom: 10px; width: 60%;}

footer h5{ color:#ffffff!important; margin-top: 1em; text-transform: uppercase; }

footer p{ color: #ffffff!important; padding: 10px 0 0 0; }

footer a{
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  display: block;
  padding: 10px 3px;
}
footer a:hover{
  color:#fae820; 
}
.social-footer{
  max-width: 300px;
}
.social-footer > a > img{
  opacity: 0.8;
  margin-left: -10px;
}
.social-footer a img:hover{
  opacity: 1;
}
.footer-contact{
  display: flex;
  height: 60px;
  align-items: center;
}

/* ----------Copyright----------- */

.copyright{ 
  /* background: var(--main-bg-color);  */
  background: #232530;
  color:#ffffff; 
  font-size: 14px; 
  padding: 3px 0 25px 0; 
}

.copyright-left p{ font-weight: 300; margin-bottom: 0!important; }

.copyright-right p{ float: right; }

.copyright-right a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
}

.copyright-right a:hover{
  color:#d8e666; 
}

/*-------------Sticky NAV--------------*/

.top-menu {
width: 100%;
z-index: 1;
transition: all ease-out 0.4s;
-webkit-transition: all ease-out 0.4s;
background-color: #ffffff!important;
}

.top-menu.slideDownScaleReversedIn {
/* background-color:rgba(256, 256, 256, 1)!important; */
background-color: #ffffff!important;
/* background-color: var(--main-bg-color)!important; */
border-bottom: 1px solid #ccc;
z-index: 999;
transition: all ease-out 0.4s;
-webkit-transition: all ease-out 0.4s;
position: fixed !important;
margin-top: 0;
padding-top: 0;
}

.top-menu.slideDownScaleReversedIn a{
color: #fff;
}
.top-menu.slideDownScaleReversedIn .btn-login a{
color: #fff;
background: #1d5cc5;
}
.top-menu.slideDownScaleReversedIn .btn-login a:hover{
color: #444;
background: #fae820;
}

.header-wrap.slideDownScaleReversedIn .navbar-brand img{
display: block;
}

.slideDownScaleReversedIn {
animation-play-state: running;
animation-name: slideDownScaleReversedIn;
animation-duration: 0.8s;
animation-iteration-count: 1;
animation-direction: normal;
animation-timing-function: ease;
animation-fill-mode: both;
animation-delay: 0s;
-webkit-animation-play-state: running;
-webkit-animation-name: slideDownScaleReversedIn;
-webkit-animation-duration: 0.5s;
-webkit-animation-iteration-count: 1;
-webkit-animation-direction: normal;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;
-webkit-animation-delay: 0s;
}
@keyframes slideDownScaleReversedIn {
0% {
    opacity: 0;
    transform: translateY(-170%) scale(1.5);
}
}
@-webkit-keyframes slideDownScaleReversedIn {
0% {
    opacity: 0;
    -webkit-transform: translateY(-170%) scale(1.5);
}
}
.slideDownScaleReversedOut {
transition: all ease-out 0.4s;
-webkit-transition: all ease-out 0.4s;
animation-play-state: paused;
animation-name: slideDownScaleReversedOut;
animation-duration: 0.8s;
animation-iteration-count: 1;
animation-direction: normal;
animation-timing-function: ease;
animation-fill-mode: both;
animation-delay: 4s;
-webkit-animation-play-state: paused;
-webkit-animation-name: slideDownScaleReversedOut;
-webkit-animation-duration: 0.8s;
-webkit-animation-iteration-count: 1;
-webkit-animation-direction: normal;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;
-webkit-animation-delay: 4s;
}
@keyframes slideDownScaleReversedOut {
100% {
    opacity: 1;
    transform: translateY(-100%) scale(1);
}
}
@-webkit-keyframes slideDownScaleReversedOut {
100% {
    opacity: 0;
    -webkit-transform: translateY() scale(1.5);
}
}

/*--------------Sticky NAV End---------------*/

/* ----/Video Gallery---- */
  
@media (min-width: 1430px) { 
.container { max-width: 1260px; }
}






















